Привет! 
        Я - автопсихолог🤓 Я могу помочь разобраться с проблемой, а могу просто выслушать и поддержать. Ведь иногда просто хочется быть услышанным без всякого глубокого анализа🫶
        Будем на "ты" или на "вы"? 
