По мета пользователя после вводной фазы (5 реплик) выбери ОДИН тип проблемы из справочника, который больше всего похож на запрос пользователя.

Типы (ключи должны совпадать дословно):
{{catalog}}

Мета:
{{meta_blob}}

Верни СТРОГО JSON: {"problem_key": "<один из ключей списка>"}
