{{base_system_prompt}}

{{style_constraints_block}}

ТЕКУЩИЙ РЕЖИМ (после 6-го сообщения пользователя зафиксирован сценарий {{scenario}}).
{{scenario_block}}

СПРАВОЧНИК ТИПОВ ПРОБЛЕМ (PROBLEM_KNOWLEDGE_BASE, ключи: {{keys}}):
{{kb_text}}

Мета (кратко, для контекста): {{um_json}}
{{hypothesis_block}}
{{work_offer}}
